@page "/products/create"

<PageTitle>Create Product</PageTitle>

<h1>New Product</h1>

@if (!string.IsNullOrEmpty(_errorMessage))
{
    <div class="alert alert-danger" role="alert">@_errorMessage</div>
}

<EditForm Model="Model" OnValidSubmit="HandleSubmitAsync" FormName="@(nameof(CreateProductInput))">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="row mb-3">
        <div class="col-9">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <InputText id="title" class="form-control" @bind-Value="Model.Title" />
                <ValidationMessage For="@(() => Model.Title)" />
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <InputTextArea id="description" class="form-control form-control-lg" @bind-Value="Model.Description" />
                <ValidationMessage For="@(() => Model.Description)" />
            </div>
        </div>
        <div class="col-3">
            <div class="mb-3">
                <label for="category" class="form-label">Category</label>
                <InputSelect id="category" class="form-select" aria-label="Select Category"
                    @bind-Value="Model.CategoryId">
                    @foreach (var category in _categories)
                    {
                        <option value="@category.Id">@category.Title</option>
                    }
                </InputSelect>
                <ValidationMessage For="@(() => Model.CategoryId)" />
            </div>

            <div class="mb-3">
                <label for="image" class="form-label">Image</label>
                <InputFile id="image" class="form-control" @bind-Value="Model.Image" accept=".png,.jpeg" />
                <ValidationMessage For="@(() => Model.Image)" />
            </div>

            <div class="mb-3">
                <label for="price" class="form-label">Price</label>
                <InputNumber id="price" class="form-control" @bind-Value="Model.Price" />
                <ValidationMessage For="@(() => Model.Price)" />
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-success">Save</button>
    <a href="/products" class="btn btn-secondary">Cancel</a>

</EditForm>
