@page "/products"
@rendermode InteractiveServer

<PageTitle>Products | BlazingShop</PageTitle>

<div class="row">
    <div class="col-12">
        <h1 class="h3 mb-3">Products</h1>

        <Card>
            <CardBody>
                <div class="row mb-3">
                    <div class="col-sm-5">
                        <a href="products/create" class="btn btn-primary">
                            <i class="bi-plus-lg"></i>
                            New
                        </a>
                    </div>
                </div>

                <Grid
                    AllowPaging="true"
                    AllowSorting="true"
                    Class="table table-hover table-bordered table-striped"
                    DataProvider="ProductsDataProvider"
                    Responsive="true"
                    TItem="GetProductsResponse">
                    <GridColumn
                        HeaderText="Product"
                        PropertyName="Title"
                        TItem="GetProductsResponse"
                        TextNoWrap="true"
                        SortKeySelector="item => item.Title">
                        @if (!string.IsNullOrEmpty(context.Image))
                        {
                            <Image Src="@context.Image" Class="img-thumbnail" Alt="@context.Title"/>
                        }
                        <p class="mb-0">@context.Title</p>
                    </GridColumn>
                    <GridColumn TItem="GetProductsResponse" HeaderText="Category" PropertyName="Category">
                        @context.Category
                    </GridColumn>
                    <GridColumn TItem="GetProductsResponse" HeaderText="Price" PropertyName="Price">
                        @context.Price.ToString("C")
                    </GridColumn>
                    <GridColumn TItem="GetProductsResponse">
                        <a class="text-secondary" href="/products/edit/@context.Id" title="Edit">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                    </GridColumn>
                </Grid>
            </CardBody>
        </Card>
    </div>
</div>
